apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashy
  namespace: dashy
  labels:
    app: dashy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashy
  template:
    metadata:
      labels:
        app: dashy
    spec:
      containers:
        - name: dashy
          image: lissy93/dashy:2.1.1
          imagePullPolicy: IfNotPresent
          env:
            - name: NODE_ENV
              value: "production"
          ports:
            - containerPort: 8080
              name: http
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 60
            periodSeconds: 30
          volumeMounts:
            - name: dashy-config
              mountPath: /app/public/user-data/conf.yml
              subPath: conf.yml
      volumes:
        - name: dashy-config
          configMap:
            name: dashy-config
            items:
              - key: conf.yml
                path: conf.yml
